//Fonts
//@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800");

$font-serif: 'Proxima Nova', Arial, serif;

//Colors
$app-bg: #ebeef6;
$header-bg-color: #383e49;
$header-color: #ffffff;
$caption-color: #474d58;
