.category {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(217, 221, 229);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 279px;
  height: 279px;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;

  &__icon {
    height: 81px;
    width: 102px;
    margin: 0 auto 20px;
  }
}
