mixin category(data)
    +b.category
        //+e.icon(src=data.src)
        +e.IMG.icon(src="img/icon.png")
        //+e.title= data.title
        +e.title= "Будівництво, архітектура, землекористування"
