include ../category/category

mixin main
    +b.container
        +e.H2.caption= container.caption
        +b.categories
            +category
            +category
            +category
            +category
        +b.categories
            +category
            +category
            +category
            +category


